h1{
color: black;
margin-top: 140px;
text-align: center;
}

h2{
    color: black;
    margin-top: 100px;
    text-align: center;
    }

p{
    color: black;
    margin-top: 20px;
    text-align: center;max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}

.receptKnop {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white;
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    text-align: center;
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.receptKnop:hover {
    background-color: #45a049;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('/img/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}

.header
{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 20px, 100px;
    background: rgb(206, 58, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    height: auto;
    width: 70px;
}

.navbar
{
   font-size: 18px;
   color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    height: 60px;
    padding-top: 20px;

}


.navbar a
{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
   
   
}

.navbar a::before
{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #a12a2a;
    transition: 0.3s;
}

.navbar a:hover::before
{
   width: 100%;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(206, 58, 14);
    color: white;
    padding: 10px;
    height: 120px;
}

footer a {
    display: block; /* Change this line */
    color: white;
    margin: 8px 0;
    padding: 5px 3;
    text-decoration: none;
    margin-left: 30px;
}

.footer-images {
    display: flex;
}

.footer-images a img {
    width: 30px; 
    height: auto;
    margin-left: 5px; 
}

footer img.logo {
    width: 40px; /* Adjust as needed */
    height: auto; /* Keeps the aspect ratio */
    margin-left: 400px;
}
/* einde Footer */