form {
    width: 300px;
    margin: 0 auto;
    margin-top: 70px;
    padding-bottom: 270px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

input[type="submit"] {
    background-color: rgb(231, 180, 108);
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(225, 157, 61);
}

.contact-text {
    height: auto;
    flex-direction: column;
    margin-left: 1100px;
}