
.flex-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .flex-container > .flex-item {
    background-color: rgb(236, 236, 236);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex-basis: 20%;
    margin-left: 68px;
    
  }
  

  .flex-container > .flex-item:hover {
  background-color: rgb(198, 209, 209);
  text-decoration: underline;
  transition: 1s;

  }
  .flex-item img {
    width: 100%; 
    height: auto; 
  }
  
  /* voor schermen kleiner dan 600px*/
@media (max-width: 600px) {
  .flex-container > .flex-item {
      margin: 10px;
      flex: 1 0 300px; 
      width: 100%; 
  }
}

@media (max-width: 340px) {
  .flex-container > .flex-item {
      
      width: 100%; 
  }
}