body {
    min-height: 100vh;
    background: url('/img/background.webp') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; 
    color: #333; 
    line-height: 1.6;
}

.recept-container {
    width: 100%;
    max-width: 2000px; 
    margin: 0 auto; 
    background-color: rgb(241, 214, 174);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.recept-container img {
    width: 30%;
    height: auto; 
}

.image-text-container {
    display: flex;
    gap: 20px;
}

p {
    text-align: center;
}

.bereiding {
    text-align: center;
    max-width: 500px;
}

h1,h2 {
    font-family: 'Georgia', serif; 
    color: #333; 
    text-align: center;
    line-height: 0.5;
}

h3 {
    font-family: 'Georgia', serif; 
    color: #333; 
    text-align: center;
    line-height: 1.5;
}

.colum {
    border: 1px solid #000;
    padding: 10px;
}

.button {
    margin-top: 120px;
    margin-left: 0px;
    background-color:rgb(238, 200, 145);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    width: 150px;
}

.button:hover {
    background-color:  
    rgb(231, 180, 108);
}

.image-text-container {
    display: flex;
    gap: 0px; 
    align-items: center;
}

.image-text-container img, .image-text-container p {
    width: 40%;
    justify-content: center;
}

@media (max-width: 768px) {
    .image-text-container {
        flex-direction: column;
        text-align: center;
    }
    
    .button{
        margin-left: 10px;
    }

    .image-text-container img, .image-text-container p {
        width: 100%;
    }
}