.button {
  margin-top: 120px;
  margin-bottom: 10px;
  background-color: rgb(238, 200, 145);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  width: 150px;
}

.button:hover {
  background-color: rgb(231, 180, 108);
}

li,
p {
  text-align: left;
  text-decoration: none;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left !important;
}

.recept-text,
p {
  text-align: left;
}

div,
.recept-text {
  text-align: left;
}
