.header
{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 20px, 100px;
    background: rgb(206, 58, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
   
}

header .logo
{
    
    margin-left: 55px;/* logo naar links */
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    height: auto;
    width: 70px;
    margin-right: 130px;
}

.navbar {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    height: 60px;
    padding-right: 300px;
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.navbar a
{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:hover
{
    color: #000;
}
.navbar a::before
{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #a12a2a;
    transition: 0.3s;
}

.navbar a:hover::before
{
   width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.hamburger div {
    width: 2rem;
    height: 0.25rem;
    background-color: #fff;
}

.navbar.open {
    height: auto; 
}

.navbar.open {
    display: block;
    width: 400px;
    position: absolute;
    top: 100%;
    left: 10;
    background-color: rgb(206, 58, 14);
    text-align: left;
}

.navbar.open a {
    display: block;
}

@media (min-width: 769px) {
    .navbar {
        position: static;
        display: flex;
        height: auto;
        overflow: visible;
    }
    .navbar a {
        display: inline;
        margin-top: 0;
    }
    .hamburger {
        display: none;
    }

}
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        background-color: #fff; 
    }
    .navbar.open {
        display: block;
    }
    .navbar a {
        display: block;
        margin-top: 5px;
        color: #000; 
    }
    .hamburger {
        display: flex;
        margin-left: 110px;
    }
}

@media (max-width: 340px) {
    .hamburger {
        margin-left: 20px; 
    }
    .navbar a {
        padding: 10px;
    }

    .receptKnop {
       
        margin-top: 80px;
    }
    
    .logo {
        transform: translateX(-69px);
}
}

.dropdown {
    position: relative;
    display: inline-block;
    color: #fff; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(206, 58, 14);
    min-width: 10px;
    z-index: 1;
    left: -50px;
    opacity: 0; 
    transition: opacity 0.5s ease; 
    
}

.dropdown-content.show {
    display: block;
    opacity: 1; 
}
.dropdown-content a {
    color: #fff; 
    padding: 16px 8px;
    text-decoration: none;
    display: block;
    padding-left: 50px;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .dropdown-content {
        background-color: rgb(206, 58, 14);
    }

    .dropdown-content a {
        color: #000; 
    }
}
