.navbar-container {
    background-color: rgb(231, 180, 108); 
}

.navbar-brand img {
    width: 240px; 
    height: auto; 
}

.footer-links {
    font-size: 20px;
    flex-direction: column;
    text-align: center;
}

svg {
    margin-left: 20px;
    
}

.receptKnopContainer{
    margin-bottom: 100px;
}

.footer-container {
    background-color: rgb(231, 180, 108); /* Verander dit naar de gewenste kleur */
}

@media (max-width: 576px) {
    .navbar-brand {
        order: -1; 
        width: 50px; 
    }
    .footer-links {
        font-size: 0.8rem;
        flex-direction: column;
        
    }
    .navbar-brand img {
        width: 120px; 
    }
    .navbar-toggler {
        margin-left: 100px; 
    }

    
    
    #footer-logo{
    width: 200px;
    margin-bottom: 20px;
    }

    svg {
        margin-left: 5px;
        
    }
    
    /* om alle svgs gezamelijk te bewegen */
    .svg-container{
        justify-content: center;
    }
}



  