/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 0px;
  height: 70vh;
}

.mySlides {
  display: none;
  height: 100%;
  background-size: cover; 
}

.mySlides img {
  height: 100%; 
  width: auto; 
}

.mySlides {
  display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(231, 180, 108);
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Dit is de next button*/
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* hover kleur */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Slider text */
  .text {
    color: rgb(255, 255, 255);
    font-size: 90px;
    padding: 0px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }
  
  /* de 3 bolletjes onder de slideshow */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 60px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.slide-text{
color: rgb(255, 255, 255);
margin-bottom: 30px;
}

.mySlides fade
{
  background-color: rgb(238, 200, 145);
}

/* Bekijk  button  */
.slide-button {
  margin-top: 10px;
  margin-bottom:100px;
  padding: 10px 20px;
  cursor: pointer; 
  font-size: 20px; 
  transition: background-color 0.3s ease; 
  background-color: rgb(231, 180, 108);
  text-align: center;
  border-radius: 6px;
  border: none;
}

.slide-button:hover{
  background-color: rgb(225, 157, 61);
}

/* Recept naam grote van de tekst  */
.slide-recept{
  font-size: 48px;
}

/* Recept tekst  */
.text-container {
  text-shadow: 2px 2px 4px #717171; 
  font-size: 18px; 
  line-height: 1.5;
  width: 40%;
  margin-left: 30%;
  text-align: center;
  border-radius: 20px;
}

@media (min-width: 320px) {
  .text-container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .slide-recept{
    font-size: 40px;
  }
  .slide-text{
    font-size: 25px;
  }
}

