h1{
color: black;
margin-top: 140px;
text-align: center;
font-size: 50px
}

h2, h3, h4{
    color: black;
    /* margin-top: 200px; */
    text-align: center;
     font-size: 40px
   }

   @media (min-width: 320px) and (max-width: 480px) {

    h2 {
      margin-top: 20px;
    }
   }

   p{
    color: black;
    margin-top: 20px;
    text-align: center;max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-size: 25px;
}

@media (max-width: 768px) {

    h1 {
      font-size: 38px;
      line-height: 1.5;
    }

    h2, h3, h4{
      font-size: 30px;
      line-height: 1.5;
      
    }

    p{
        font-size: 20px;
        line-height: 1.5;
    }
  }

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('/public/img/background.webp') no-repeat;
    background-size: cover;
    background-position: center;
}

.receptKnop {
    /* position: absolute;
    top: 120%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    display: block;
    max-width: 200px;
    margin: 20px auto 0;
    padding: 10px 20px; 
    background-color: rgb(231, 180, 108);
    color: rgb(0, 0, 0);
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    text-align: center;
    font-size: 20px; 
    transition: background-color 0.3s ease; 
}

@media (min-width:320px) and (max-width:480px)
{
  .receptKnop {
    top: 75%;
  }

}

.receptKnop:hover {
    background-color: rgb(225, 157, 61);
}
