h1{
color: black;
margin-top: 140px;
text-align: center;
}

h2{
    color: black;
    margin-top: 100px;
    text-align: center;
    }

p{
    color: black;
    margin-top: 20px;
    text-align: center;max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('/public/img/background.webp') no-repeat;
    background-size: cover;
    background-position: center;
}

.receptKnopContainer
{
    margin-top: 20px;
}

.receptKnop {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 10px 20px; 
    background-color: rgb(231, 180, 108);
    color: rgb(0, 0, 0);
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    text-align: center;
    font-size: 20px; 
    transition: background-color 0.3s ease; 
}

.receptKnop:hover {
    background-color: rgb(225, 157, 61);
}

.receptKnopContainer
{
 margin-top: 200px;
}

.icon
{
  margin-right: 20px; 
}



   