h1{
color: black;
margin-top: 140px;
text-align: center;
}

h2{
    color: black;
    margin-top: 100px;
    text-align: center;
    }

p{
    color: black;
    margin-top: 20px;
    text-align: center;max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('/img/backgroundw.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}



.receptKnopContainer
{
    margin-top: 20px;
}

.receptKnop {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 10px 20px; 
    background-color: rgb(109, 69, 10);
    color: white;
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    text-align: center;
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.receptKnop:hover {
    background-color: rgb(73, 47, 7);
}

.receptKnopContainer
{
    margin-top: 200px;
}


    .icon {
        margin-right: 20px; 
    }


   